/*브라우저 호환성*/
/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
/*html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:top;
    background:transparent;
    font-family: Calibri, Dotum,'돋움', -apple-system,BlinkMacSystemFont,helvetica,'Apple SD Gothic Neo',sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}

article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section {
    display:block;
}

ul{
    list-style: none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: inherit;
    text-decoration: none;
}
/* change colours to suit your needs */


/*input, select {
    vertical-align:middle;
}

input, textarea{
    -webkit-appearance:none; 
    appearance:none;
    -webkit-border-radius:0; 
    -moz-border-radius:0; 
    -o-border-radius:0; 
    border-radius:0;
}


input[type="checkbox"]{
    -webkit-appearance: checkbox;
    cursor: pointer;
}

input[type='radio']{
    -webkit-appearance:radio;
    cursor: pointer;
}

table{
    border-collapse: collapse; 
    border-spacing: 0;
}

video::-internal-media-controls-download-button{
    display: none;
}

video::-webkit-media-controls{
    overflow: hidden;
}

video::-webkit-media-controls-enclosure{
    width: calc(100%+32px);
    margin-left:auto;
}*/

/* --------------------------------------------------------------------------------------------*/
/* --------------------------------------------------------------------------------------------*/

/*----------------------------login.php----------------------------*/
/*.wrapper{
    display: table;
    width: 100%;
    height: 100%;
}
.inner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.inner .logo {
    width: 400px;
}

.id_box {
    width: 400px;
    padding: 5px 5px;
    margin-top: 5px;
    border: 1px solid #9bbb59;
    border-radius: 4px;
    box-sizing: border-box;
}

.login_button {
    width: 400px;
    height: 45px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #7bb442;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    font-stretch: ultra-expanded;
}

.login_button:hover{
    background-color: #3a913f; ;
    
}

.space{
    height: 10vh;
}

/*----------------------------전체 화면 설정----------------------------*/
/*#wrap {
    overflow: hidden;
    min-width: 1190px;
}


/*----------------------------header----------------------------*/
/*#header {
    position: relative;
    height: 60px;
    border-bottom: 1px solid #9bbb59;
    vertical-align: top;
    margin-bottom: 25px;
    
}

.header_group{
    position: relative;
    width: 1160px;
    height: 100%;
    margin: 0 auto;
    padding: 0 5px; 

}

/*.header_nav{
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 70px;
}

.list_nav{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -.1px;
    color: #a2be8f;
}

.nav_item{
    float: left;
}

.nav_item:hover {
    color: #3a913f;
}

.list_nav .nav_item+.nav_item {
    margin-left: 45px;
}

.logout{
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -12px;
    cursor: pointer;
    opacity: 0.5;
}

.logout:hover{
    opacity: 1;
}

/*----------------------------container----------------------------*/
/*#container {
    position: relative;
    width: 1160px; 
    margin: 0 auto;
    padding: 10px 0;
}*/
    
.table{
    display: table;
    box-sizing: border-box;
}



.cell{
    display: table-cell;
    box-sizing: border-box;
}


/*----------------------------home.php----------------------------*/


/*----- left tnq bar -----*/
.tnq{
    display: inline-block;
    width: 300px;
    height: 600px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #696969;
    padding: 15px;
    margin: 0 40px 10px 0;
}


.tnq .title{
    font-size: 1.3rem;
    font-weight: bold;
    font-stretch: ultra-expanded;
    font-family: "Roboto Slab Bold",sans-serif;
}


.tnq .button{
    width: 270px;
    height: 100px;
    color: #363636;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    background-color: white;
    border: 1px solid #3a913f;
    border-top: 7px solid #3a913f;
    box-sizing: border-box;
    margin: 20px 0;
    padding: 0;
    cursor: pointer;
}

.tnq .button:hover{
    color: #fff;
    background-color: #3a913f;

}

.tnq .quiz .button{
    border: 1px solid #8dcc62;
    border-top: 7px solid #8dcc62;
}

.tnq .quiz .button:hover{
    color: #fff;
    background-color: #8dcc62; 
}


.tnq .button:active{
    width: 268px;
    height: 98px;
    margin: 21px 1px;
}
/*----- recent test bar -----*/
.recent_test{
    width: 450px;
    height: 600px;
    margin: 0 40px 10px 5px;
    display: inline-block;
}


.recent_test .table{
    width: 450px;
    border: 1px solid #3a913f;
    border-radius: 2px;
}



.recent_test .row.header{
    height: 28px;
}

.recent_test .row:nth-child(even){
    background-color: #f2f2f2;
}

.recent_test .row.info, .recent_test .header{
    color: white;
    background-color: #3a913f;
}


.recent_test .cell{
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

.recent_test .cell.test{
    font-size: 1.4rem;
    font-weight: bold;
    width: 60px;
    padding: 3px 0 0 3px;
    vertical-align: bottom;
}

.recent_test .cell.date{
    font-size: 0.9rem;
    width: 90px;
    padding: 0 0 0.15rem 0;
    vertical-align: bottom;
    text-align: left;
}

.recent_test .cell.no{
    padding: 0;
    vertical-align: bottom;
}

.recent_test .cell.header{
    width: 70px;
    vertical-align: bottom;
    padding: 0 3px 5px 3px;
    
}

.recent_test .cell.header.rank, .recent_test .cell.header.name, .recent_test .cell.header.total{
    vertical-align: bottom;
    padding: 0 3px 5px 3px;
    
}

.recent_test .cell.header.r{
    width: 140px;
}


.recent_test .row.info .rw{
    font-size: 0.9rem;
    vertical-align: bottom;
}


/*----- recent quiz bar -----*/
.recent_quiz {
    width: 310px;
    height: 600px;
    margin: 0 0 10px 0;
    display: inline-block;
}

.recent_quiz .table{
    width: 310px;
    border: 1px solid #8dcc62;
    border-radius: 2px;
}

.recent_quiz .row.header{
    height: 28px;
}

.recent_quiz .row:nth-child(even){
    background-color: #f2f2f2;
}

.recent_quiz .row.info, .recent_quiz .row.header{
    color: white;
    background-color: #8dcc62;
}


.recent_quiz .cell{
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}


.recent_quiz .cell.quiz{
    font-size: 1.4rem;
    font-weight: bold;
    padding: 3px 0 0;
    vertical-align: bottom;
    width: 65px;
}

.recent_quiz .cell.date{
    font-size: 0.9rem;
    padding: 0 ;
    vertical-align: bottom;
    text-align: left;
    width: 90px;
}

.recent_quiz .cell.dates{
    width: 75px;
}

.recent_quiz .cell.header{
    vertical-align: bottom;
    padding: 0 3px 5px 3px;
    
}

.recent_quiz .cell.header{
    width: 60px;
    box-sizing: border-box;
    
}

.recent_quiz .cell.header.quiz{
    width: 70px;
}

.recent_quiz .cell.fail{
    color: #969696;
}

.recent_quiz .retake{
    width: 13px;
    margin-top: 3px;
}

.recent_quiz .re{
    padding-left: 15px;
}

/*----------------------------daily_quiz.php----------------------------*/
.dq{
    padding: 0 5px;
}

.dq .table{
    width: 1150px;
    border-bottom: 1px solid #999999;
    margin: 0 0 30px 0;
}

.dq .row{
    height: 70px;
}

.dq .row:nth-child(odd){
    background-color: #f2f2f2;
}

.dq .row.header{
    background-color: #8dcc62;
    color: white;
    letter-spacing: 1px;
    height:  35px;
}

.dq .cell.header{
    font-size: 1.2rem;
    vertical-align: middle;
}

.dq .cell.content{
    width: 300px;
    font-size: 1.5rem;
    padding: 5px 0;
    vertical-align: middle;
}

.dq .cell.header.date{
    width: 410px;
    padding-left: 115px;
}

.dq .cell.header.quiz{
    padding-left: 10px;
}

.dq .cell.content.date{
    padding-left: 80px;
}

.dq .cell.score{
    padding-right: 150px;
    text-align: center;
}

.dq a:hover{
    font-weight:bold;
}

.dq .cell.content.review{
    width: 350px;
}



.dq .cell .makeup{
    vertical-align: baseline;
    height: 15px;
    width: 15px;
}


.dq .cell.pass .button{
    background-color: white;
    border: 3px solid #8dcc62;
    border-radius: 2px;
    font-weight: bold;
    padding: 0 100px;
}

.dq .cell.fail .button{
    background-color: white;
    border: 3px solid #969696;
    border-radius: 2px;
    font-weight: bold;
    padding: 0 100px;
    cursor: default;
}

.dq .cell.pass .button:hover{
    background-color: #8dcc62;
    color: white;
}


/*------------admin---------------*/
.adq .table{
    float: left;
    margin-top: -20px;
    margin-right: 200px;
}

.adq .cell{
    vertical-align: middle;
    text-align: center;
    width: 80px;
}

.adq .name{
    padding: 6px;
    text-align: left;
}


.adq .all{
    padding: 6px 22px;
    font-weight: bold;
}

.adq .num{
    width: 30px;
    height: 20px;
    background-color: white;
    margin-right: 20px;
    margin-top: 2px;
    border: 1px solid black;
    padding: 2px;
    text-align: center;
    font-size: 1.1rem
}

.assign, .cancel{
    width: 100px;
    margin-right: 20px;
    border: 1px solid black;
    padding: 2px;
    cursor: pointer;
}

.assign{
    background-color: #b9e69a;
}

.assign:hover{
    background-color: #3a913f;
    color: white;
}

.cancel{
    background-color: #f2f2f2;
}

.cancel:hover{
    background-color: black;
    color:white;
}

.admin_quiz_omr{
    width: 50px;
    border: 1px solid black;
    padding: 2px;
    cursor: pointer;
    background-color: white;
}

.admin_quiz_omr:hover{
    background-color: black;
    color: white;
}

.recent_quiz.admin{
    margin-top: -20px;
}





/*----------------------------mock_test.php----------------------------*/
/*-------최근 test 결과 나타내기 ------*/
.recent_t{
    width: 1000px;
    margin: 0 auto 25px;
    border: 1px solid #696969;
    border-radius: 2px;
}

.recent_t .left{
    width: 598px;
    height: 150px;
    padding: 17px 20px 23px;
    box-sizing: border-box;
    display: inline-block;
}

.recent_t .right{
    width: 395px;
    height: 150px;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    padding: 55px;
}

.recent_t .table{
    width: 100%;
}

.recent_t .row{
    color: #212F3D;
}

.recent_t .test{
    font-size: 1.7rem;
    font-weight: bold;
    vertical-align: top;
}

.recent_t .section.r{
    width: 210px;
}

.recent_t .section.m{
    width: 150px;
    padding-left: 20px;
}

.recent_t .number{
    font-size: 2rem;
    font-weight: bold;
    vertical-align: bottom;
}

.recent_t .total .number{
    font-size: 2.4rem;
}

.recent_t .button{
    background-color: white;
    border: 3px solid #3a913f;
    border-radius: 2px;
    font-size: 2rem;
    font-weight: bold;
    padding: 20px 70px;
}

.recent_t .button:hover{
    background-color: #3a913f;
    color: white;
}

/*-------지난 test들 list------*/
.t{
    /*width: 1150px;*/
    margin: 0 auto;
}
.t .table{
    /*width: 1150px;*/
    border-bottom: 1px solid #999999;
    margin: 0 0 30px 0;
}

.t .row{
    height: 70px;
    text-align: center;
}

.t .row:nth-child(odd){
    background-color: #f2f2f2;
}

.t .row.header{
    background-color: #3a913f;
    color: white;
    letter-spacing: 1px;
    height: 50px;
}


.t .row.header .rw{
    font-size: 0.9rem;
    vertical-align: bottom;
}


.t .cell.header{
    font-size: 1.2rem;
    vertical-align: middle;
}


.t .cell.header.date{
    width: 200px;
}

.t .cell.header.test{
    width: 60px;
}

.t .cell.header.r{
    width: 250px;
    vertical-align: top;
}

.t .cell.header.m{
    width: 150px;
}

.t .cell.header.review{
    width: 300px;
}

.t .cell.content{
    font-size: 1.5rem;
    padding: 5px 0;
    vertical-align: middle;
}

.t .cell.content.total{
    font-size: 1.6rem;
    font-weight: bold;
    width: 180px;
}

.t .cell .button{
    background-color: white;
    border: 2px solid #3a913f;
    border-radius: 2px;
    font-weight: bold;
    padding: 0 60px;
}

.t .cell .button:hover{
    background-color: #3a913f;
    color: white;
}

.t a:hover{
    font-weight: bold;
}

.amt{
    float: left;
    width:48%;
    margin-right: 100px;
}

.amt .test, .amt .num, .amt .student{
    display: inline-block;
    font-size: 1.3rem;
    margin-right: 5px;
}

.amt .test{
    margin-bottom: 10px;
}

.amt .student{
    font-size: 1.1rem;
    line-height: 50px;
}

.amt .name{
    cursor: pointer;
    margin: 10px;
}

.amt .name_long{
    cursor: pointer;
    margin: 5px;
}

.amt .test_num{
    width: 25px;
    background-color: white;
    border: 1px solid black;
    padding: 2px;
    text-align: center
}


.amt .assign, .amt .cancel, .amt .direct_request{
    margin-top: 5px;
}

.amt .assign{
    margin-left: 30px;
    margin-right: 20px;
}

.amt .cancel{
    margin-left: 10px;
    margin-right: 100px;
}

.amt .name label+input[type = 'submit']{
    cursor: pointer;
}

.amt .direct_request{
    border: 1px solid black;
    width: 50px;
    padding: 2px;
    cursor: pointer;
    background-color: white;
}

.amt .direct_request:hover{
    background-color: black;
    color: white;
}

/*----------------------------course_material.php----------------------------*/
/*--------- 파일별 박스-------*/
.cm .box{
    width: 1100px;
    height: 50px;
    margin: 0 auto 15px;
    border: none;
    box-shadow: 1px 1px 3px #c2c5cc;
    -webkit-box-shadow: 1px 1px 3px #c2c5cc;
    box-sizing:border-box;
    cursor: pointer;
}

.cm .file{
    float: left;
    width: 95%;
    height: 100%;
}

.cm .delete{
    display: inline-block;
    width: 5%;
    height: 80%;
    text-align: center;
    padding-top: 10px;
    background-color: #f7f7f7;
    font-size: 1.5rem;
}

.cm .delete:hover{
    font-weight: bold;
    background-color: #f2f2f2;
}

.cm .box:last-child{
    margin-bottom: 20px;
}

.cm .box.old{
    border-left: 10px solid #e5e5e5;
}

.cm .box.old:hover{
    border-left: 10px solid #e5e5e5;
    background-color:#e5e5e5;
}

.cm .box.new{
    border-left: 10px solid #ffce44;
}

.cm .box.new:hover{
    border-left: 10px solid #ffce44;
    background-color: #ffce44;
}

.cm .box .name{
    display: inline-block;
    width: 800px;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0 10px 30px;
}

.cm .box .date{
    display: inline-block;
    margin: 15px 50px 10px 30px;
}

.cm .file_upload{
    margin-bottom: 20px;
    margin-left: 30px;
    width: 400px;
    padding: 5px 0 5px 5px;
    background-color: #f2f2f2;
}

.cm .upload{
    background-color: white;
    padding: 5px 25px;
    margin-left: 30px;
    border: 1px black solid;
}

.cm .upload:hover{
    background-color: black;
    color: white;
}




/*----------------------------announcements.php----------------------------*/
.an{
    width: 400px;
    height: 600px;
    overflow: auto;
    margin-bottom: 20px;
    display: inline-block;
}
.an::-webkit-scrollbar{
    width: 10px;
}

.an::-webkit-scrollbar-thumb{
    background-color: #839e85;
    height: 50px;
}

.an::-webkit-scrollbar-track{
    background-color: #f2f2f2;
}

.an .box{
    width: 390px;
    height: 50px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
    background-color: white;
}

.an .box:hover{
    background-color: #f2f2f2;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}

.an .box .line{
    display: block;
    width:100%;
    height: 100%;
}

.an .box.old{
    font-size: 1.1rem;
    font-weight: regular;
    box-sizing: border-box;
}

.an .box.old .title{
    display: inline-block;
    width: 250px;
    margin: 13px 0 11px 30px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.an .date{
    display: inline-block;
    font-size: 1rem;
    margin: 14px 0 12px 0;
}

.an .box.new{
    font-size: 1.3rem;
    font-weight: bold;
    box-sizing: border-box;
    border-left: 10px solid #ffce44;
}

.an .box.new:hover{
    background-color: #fcf36f;
}


.an .box.new .title{
    display: inline-block;
    width: 230px;
    margin: 10px 20px 11px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*------------admin---------------*/
.admin .bar{
    margin: 10px 0 5px;
}

.announce{
    border: 1px solid black;
    box-sizing: border-box;
    padding: 5px 20px;
    margin-left: 10px;
}

.announce:hover{
    color: white;
    background-color: black;
}

/*----------------------------view_announcements.php----------------------------*/
.an .new.select{
    background-color: #fcf36f;
}

.an .old.select{
    background-color: #f2f2f2;
}

.board{
    display: inline-block;
    width: 750px;
    height: 600px;
    overflow: auto;
}

.board .title{
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.board .corners { 
    background: #FFF;
    width: 400px;
    min-height: 430px;
    word-wrap: break-word;
    margin: 50px auto 6px;
    line-height:25px;
    position: relative;
    font-size:1.2rem; padding:30px; padding-top:30px;
    -webkit-box-shadow: 0 1px 5px hsla(0,0%,0%,.2);
       -moz-box-shadow: 0 1px 5px hsla(0,0%,0%,.2);
            box-shadow: 0 1px 5px hsla(0,0%,0%,.2);
}

/* Corner Effect */
.board .corners:after, .board .corners:before {
    background: #f2f2f2;
    content: '';
    height: 40px;
    position: absolute;
    top: -10px;
    width: 100px;
    -webkit-box-shadow: 0 5px 7px -7px hsla(0,0%,0%,.5);
       -moz-box-shadow: 0 5px 7px -7px hsla(0,0%,0%,.5);
            box-shadow: 0 5px 7px -7px hsla(0,0%,0%,.5);
}
.board .corners:after {
    left: -50px;
    -webkit-transform: rotate(-50deg);
       -moz-transform: rotate(-50deg);
        -ms-transform: rotate(-50deg);
         -o-transform: rotate(-50deg);
            transform: rotate(-50deg);
}
.board .corners:before {
    right: -50px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.board::-webkit-scrollbar{
    width: 10px;
}

.board::-webkit-scrollbar-thumb{
    background-color: #666666;
    height: 50px;
}

.board::-webkit-scrollbar-track{
    background-color: #f2f2f2;
}





/*------------admin---------------*/
.board .edit{
    border: 1px solid black;
    box-sizing: border-box;
    padding: 5px 20px;
    margin-left: 310px;
}

.board .delete{
    border: 1px solid black;
    box-sizing: border-box;
    padding: 5px 20px;
    margin-left: 20px;
    cursor: pointer;
}

.board .edit:hover{
    color:white;
    background-color: black;
}

.board .delete:hover{
    color:white;
    background-color: black;
}

.admin.board .corners{
    margin: 60px auto 7px;
}

/*----------------------------board/write.php----------------------------*/
.write{
    display: inline-block;
    margin: 70px 150px;
}

.write .titles{
    font-size: 1.5rem;
}

.write .contents{
    font-size: 1.3rem;
}

.write .ok{
    border: 1px solid black;
    background-color: white;
    box-sizing: border-box;
    padding: 5px 20px;
}

.write .ok:hover{
    color:white;
    background-color: black;
}















/*---------------------------------QUIZ---------------------------------*/
.tnq_logo{
    position: absolute;
    left: 10px;
    top: 10px;
    
}

/*----------------------------quiz&test/start.php----------------------------*/
.start .table{
    width: 950px;
    height: 400px;
    box-shadow: 3px 3px 3px #c2c5cc;
    border: 5px solid #8dcc62;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.start .table.test{
    border: 5px solid #3a913f;
}

.start .row{
    vertical-align: middle;
    text-align: center;
}

.start .no{
    font-size: 2rem;
    font-weight: bold;
    padding: 30px 0 0 30px;
    height: 100px;
}

.start .content{
    font-size: 1.2rem;
    padding: 20px 30px 0 30px;
    height: 90px;
}

.start .warning{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0 30px;
}


.start .cell .button{
    background-color: #8dcc62;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 3px;
    padding: 15px 70px;
    border: none;
    cursor: pointer;
}

.start .cell .button:hover{
    color: black;
}

.start.test .cell .button{
    background-color: #3a913f;
}

.start .close{
    font-weight: regular;
    cursor: pointer;
    color: #969696;
    float: right;
    margin-right: 30px;
}

.start .bold{
    font-weight: bold;
    color: #8dcc62;
}

.start.test .bold.test{
    color: #3a913f;
}

/*----------------------------quiz&test/ready.php----------------------------
.ready{
    width: 950px;
    height: 160px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.ready .content{
    font-size: 1.3rem;
    line-height: 40px;
}

.ready .countdown{
    font-size: 5rem;
    font-weight: bold;
    color: #8dcc62;
}

.ready .countdown.test{
    color: #3a913f;
}

/*----------------------------quiz/omr.php----------------------------*/


.pdf_viewer{
    display: inline-block;
    height: 100%;
    max-width: 59.6%;
    width: 59.6%;
    min-width: 50%;
    opacity: 1;
    box-shadow:none;
}

.download_fail{
    padding: 5px 20px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.1rem;
}

.pdf_viewer .window{
    height: calc(100% + -32px);
}

.download_fail a{
    color: #4081c1;
}

.download_fail a:hover{
    text-decoration: underline;
}

.wrap.omr {
    display: inline-block;
    width: 39.5%;
    height: 100%;
    overflow:auto;
    min-width: 39.5%;

}

.quiz.omr{
    padding: 5px 0;
    width: 33%;
    min-width: 550px;
}

.omr .logo{
    display: inline-block;
    margin: 5px 0 0 10px;
}


.omr .time{
    display: inline-block;
    margin-left: 50px;
    margin-top: 15px;
}


.omr .time_left{
    font-size: 1.1rem;
}

.form .submit{
    display: inline-block;
    margin-left: 80px;
    margin-top: 7px;
    background-color: white;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-align: center;
    height: 40px;
    width: 120px;
    border: 2px solid #8dcc62;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
}

.form .submit:hover{
    background-color: #8dcc62;
    color: white;
}


.omr .page{
    width: 97%;
    height: calc(100vh + -80px);
    border: 2px solid #8dcc62;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-top: 5px;
    margin-left: 7px;
    overflow: auto;
    min-width: 97%;
}

.omr .page::-webkit-scrollbar{
    width: 12px;
}

.omr .page::-webkit-scrollbar-thumb{
    background-color: #8dcc62;
    height: 50px;
}

.omr .page::-webkit-scrollbar-track{
    background-color: #f2f2f2;
    border-right: 1px solid #8dcc62;
    border-top: 1px solid #8dcc62;
}



.quiz.omr .table{
    display: inline-block;
    width: 46%;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 5px 5px;
    min-width: 46%;

}

.quiz.omr .table.part5{
    margin-top: -25px;
    margin-bottom: 0;
}

.quiz.omr .section{
    font-size: 1.15rem;
    font-weight: bold;
    border-bottom: 2px solid #8dcc62;
}

.quiz.omr .subtitle{
    font-size: 0.8rem;
    vertical-align: baseline;
    font-weight: lighter;
}


.omr .cell{
    padding: 5px;
}


.omr .circle input[type = 'radio']{
    display: none;
}

.omr .circle input[type = "radio"] + span{
    display: inline-block;
    background-color: white;
    border: 0.5px solid black;
    text-align: center;
    width: 13px;
    height: 13px;
    border-radius: 7px;
    font-size: 11px;
    cursor: pointer;
    color: gray;
    margin: 0.37rem 0.7rem ;
}

.quiz.omr .part3 .circle input[type = "radio"] + span{
    margin-bottom: 1.52rem;
}

.quiz.omr .circle.part5 input[type = "radio"] + span{
    margin: 0.37rem 0.665rem;
}

.omr .circle input[type = "radio"]:checked + span{
    background: black;
    color: black;
}

.quiz.omr .number{
    line-height: 25px;
}


/*----------------------------quiz/result.php----------------------------*/
.result .img{
    margin-top: 30px;
}

.result{
    width: 500px;
    height: 400px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    vertical-align: baseline;
    color: #3d3d3d;
    box-sizing: border-box;
}


.result.fail{
    height: 340px;
    padding: 40px 0 10px;
}

.result.pass{
    padding: 40px 0 10px;
}

.result .pf{
    font-size: 2rem;
    font-weight: bold;
    padding: 20px 0;
}

.result .content{
    font-size: 1.4rem;
}

.result .score{
    font-size: 1.6rem;
    font-weight: bold;
}

.result .review{
    display: inline-block;
    width: 200px;
    height: 45px;
    font-weight: bold;
    border: 3px solid #8dcc62;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 30px 5px 0 0;
    cursor: pointer;
}

.result .review:hover{
    background-color:#8dcc62;
    color: white;
}

.result .finish{
    display: inline-block;
    width: 200px;
    height: 45px;
    font-weight: bold;
    border: 3px solid #969696;
    border-radius: 2px;
    box-sizing: border-box;
    margin: 30px 0 0 5px;
    cursor: pointer;
}

.result .finish:hover{
    background-color: #969696;
    color: white;
}

.result .cursor{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 37px;
}


/*----------------------------quiz/review.php----------------------------*/
/*-----------o/x table-----------*/
.review{
    margin-top: -15px;
    vertical-align: baseline;
    margin-bottom: 10px;
}

.review .day{
    font-size: 1.7rem;
    font-weight: bold;
    display: inline-block;
    margin: 0 7px 20px 500px;
}

.review .date{
    display: inline-block;
    font-size: 1rem;
    margin: 11px 0 0;
}

.review .table{
    width: 100%;
    margin-bottom: 40px;
}

.review .cell{
    width: 43px;
    padding: 2px 0;
    text-align: center;
    vertical-align: middle;
    border: 1px solid white;
    background-color: #f8fbff;
}

.review .cell.header{
    background-color: #dae9cf;
}

.review .cell.part{
    width: 100px;
    text-align: left;
    padding-left: 7px;
    
}

.review .cell.part5{
    width: 106px;
}

.review .cell.part3{
    width: 71px;
}

.review .cell.part.section{
    font-weight: bold;
    background-color: #8dcc62;
}

.review .cell.x, .review .cell.o, .review .cell.ox{
    background-color: #e4ebf4;
}

.review .cell.x{
    color: red;
}



/*-----------summary table-----------*/
.summary{
    margin-top: 40px;
}

.summary .table{
    vertical-align: baseline;
    border-bottom: 1px solid #8dcc62;
}

.summary .table .cell{
    background-color: white;
}

.summary .cell.header{
    background-color: #8dcc62;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    padding-top: 6px;
    width: 200px;
}

.summary .cell.header.score{
    padding-top: 0;
}

.summary .subtitle{
    font-size: 0.9rem;
    line-height: 0.9rem;
}

.summary .count{
    display: inline-block;
    font-size: 1.5rem;
    padding-left: 15px;
}
.summary .section_score{
    font-size: 0.85rem;
    margin-top: 11px;
    display: inline-block;
}

.summary .count_score{
    font-size: 1.5rem;
    font-weight: bold;
}



/*----------------------------test/result.php----------------------------*/
.result.test{
    width: 500px;
    height: 350px;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    vertical-align: baseline;
    color: #3d3d3d;
    box-sizing: border-box;
    border: 2px solid #3a913f;
    padding: 30px 0 20px;
}


.result.test .content{
    font-size: 1.3rem;
}

.result.test .score{
    font-size: 5rem;
    font-weight: bold;
    line-height: 80px;
    margin-bottom: 25px;
}

.result.test .section, .result.test .section_score{
    display: inline-block;
    width: 200px;
    box-sizing: border-box;
    border-bottom: 1px solid #969696;
    padding-bottom: 3px;
    margin-bottom: 5px;
    font-size: 2rem;
    font-weight: bold;
}


.result.test .section{
    border-bottom: 0;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: -10px;
}

.result.test .review{
    border: 3px solid #3a913f;
}

.result .review:hover{
    background-color: #3a913f;
}



/*----------------------------test/break.php----------------------------*/
.break{
    width: 950px;
    height: 160px;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.break .content{
    font-size: 1.15rem;
    margin-top: 10px;
}

.break .content .bold{
    font-weight: bold;
    color: #3a913f;
}

.break .content.title{
    font-size: 2rem;
    font-weight: bold;
}

.break .countdown{
    font-size: 5rem;
    font-weight: bold;
    color: #3a913f;
    
}

.break .button{
    background-color:#3a913f;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 3px;
    padding: 15px 70px;
    line-height: 100px;
}


/*----------------------------test/review.php----------------------------*/
/*-----------o/x table-----------*/
.review.test .cell{
    width: 40px;
}

.review.test .cell.header{
    background-color: #c1ecc4;
    width: 30px; 
}

.review.test .cell.section{
    text-align: left;
    padding-left: 10px;
}

.review.test .cell.header.section{
    background-color: #3a913f;
    width: 100px; 
    color: white;
    text-align: left;
}

.review.test .empty{
    border: none;
}

.review.test .math{
    width: 56px;
}

.review.test .t4{
    margin-bottom: 0;
}

.review.test .cell.header.header4{
    width: 115px;
}

.review.test .cell.header.header_o{
    width: 47px;
}

.review.test .cell.header.header_s{
    width: 81px;
}


/*-----------summary table-----------*/
.summary.test .table{
    border-bottom: 1px solid #3a913f;
}

.summary.test .cell.header{
    background-color: #3a913f;
}

.summary.test .cell.header.raw{
    padding-top: 10px;
}

.summary.test .count, .summary.test .raw_score, .summary.test .subject_score{
    display: inline-block;
}

.summary.test .cell.rw{
    line-height: 18px;
}

.summary.test .cell.subject{
    padding-bottom: 5px;
}

.summary.test .cell.scores{
    padding: 5px;
}



/*----------------------------test/omr.php----------------------------*/
.pdf_viewer.tests{
   
    width: 69.6%;
    max-width:69.6%;
    min-width: 60%;
    opacity: 1;
}

.pdf_viewer.quiz{
   
    width: 62.6%;
    max-width:65.6%;
    min-width: 62.6%;
    opacity: 1;
}

.wrap.omr.tests{
    width: 29.5%;
    min-width: 29.5%;
    

}
.wrap.omr.quiz {
    width: 36.5%;
    min-width: 36.5%;
}
.test.omr{
    padding: 5px 0;
    width: 99%;
    min-width: 440px;
}

.test.omr .time{
    margin-left: 110px;
}

.test.omr .page{
    border: 2px solid #3a913f;
}


.test.omr .page::-webkit-scrollbar-track{
    border-top: 1px solid #3a913f;
    border-right: 2px solid #3a913f;
}


.test.omr .page::-webkit-scrollbar-thumb{
    background-color: #3a913f;
}

.test.omr .table{
    display: inline-block;
    width: 100%; 
    table-layout: fixed;
    padding: 0 5px;
    min-width: 100%;
}

.table.sec{
    margin-top: 15px;
}

.test.omr .number{
    line-height: 51px;
    margin-right: 10px;
    font-size: 1.1rem;
}

.table.sec .num{
    font-size: 1.1rem;
}

.test.omr .circle input[type = "radio"] + span{
    margin: 1.1rem 1.1rem 1.1rem 0;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    font-size: 11px;
}

.sec.table .circle input[type = "radio"] + span{
    margin: 0.3rem 0.85rem 0.6rem 0;
}

.test.omr .circle.period input[type = "radio"] + span{
    margin-top: 2.2rem;
}

.omr .calc{
    position: absolute;
    height: 150px;
    left: 5px;
    top: 5px;
}


/*---------------------------------------------admin.php-----------------------------------------*/
.mblist{
    display: inline-block;
    margin-left: 50px;
}

.mblist .space{
    line-height: 25px;
    display: inline-block;
    width: 85px;
    height: 35px;
}

.mblist .go_quiz, .mblist .go_test{
    display: inline-block;
    width: 80px;
    cursor: pointer;
    background-color: white;
    text-align: center;
}

.mblist .go_quiz{
    border: 1px solid #8dcc62;
}

.mblist .go_test{
    border: 1px solid #3a913f;
    margin-left: 20px;
}

.mblist .go_quiz:hover{
    background-color: #8dcc62;
    color: white;
}

.mblist .go_test:hover{
    background-color: #3a913f;
    color: white;
}

/*---------------------------------------------lecture.php-----------------------------------------*/
#container.lectures .video{
    height: 100%;
}
.videos .no_lecture{
    font-size: 1.4rem;
    text-align: center;
    padding: 250px 0;
}

.videos .yes_lecture{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 45px;
}

.videos .yes_lecture .test_no{
    font-size: 2.5rem;
    background-color: #3a913f;
    color: white;
    padding: 0 10px;
    vertical-align: baseline;
}

.videos .lecture, .videos .review{
    text-align: center;
    width: 100%;
    
}
.videos .lecture .section{
    width: 25%;
    display: inline-block;
    margin-right: 90px;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.videos .review .section{
    width: 40%;
    display: inline-block;
    margin: 20px 65px 40px 0;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.videos .lecture .section:last-child{
    margin-right: 0;
}

.videos .review .section:nth-child(even){
    margin-right: 0;
}

.videos .review .section:nth-child(3), .videos .review .section:nth-child(4){
    margin-bottom: 0;
}

.videos .lecture .section.one, .videos .review .section.one{
    border: 2px solid #a61111;
}

.videos .lecture .section.two, .videos .review .section.two{
    border: 2px solid #bdb420;
}

.videos .lecture .section.three, .videos .review .section.four{
    border: 2px solid #121b78;
}

.videos .review .section.three{
    border: 2px solid #2ab82a;
}


.videos .lecture .section.one:hover, .videos .review .section.one:hover{
    background-color: #ff0000;
    color: white;
}

.videos .lecture .section.two:hover, .videos .review .section.two:hover{
    background-color: #fff31f;
    color: white;
}

.videos .lecture .section.three:hover, .videos .review .section.four:hover{
    background-color: #2938d9;
    color: white;
}

.videos .review .section.three:hover{
    background-color: #1ae81a;
    color: white;
}

.videos .lecture .box{
    display: block;
    width: 100%;
    height: 100%;
    padding: 200px 0;
    box-sizing: border-box;
}

.videos .review .box{
    display: block;
    width: 100%;
    height: 100%;
    padding: 60px 0;
    box-sizing: border-box;
}

.videos .review .sector{
    font-size: 1.2rem;
}

/*---------------------------------------------view_lecture.php-----------------------------------------*/

.view_lecture.table{
    text-align: center;
    height: calc(100% + -60px);
}

.view_lecture .cell{
    vertical-align: middle;
}

.view_lecture .video{
    height: 80vh;
}

.speed{
    margin-top: -20px;
    margin-bottom: 10px;
    vertical-align: middle;
}

.speed .speed_button{
    width: 80px;
    margin: 0 10px;
    
}

/*---------------------------------------------admin_lecture.php-----------------------------------------*/
.amt.lecture .cancel{
    margin-left: 5px;
    margin-right: 0 ;
}

.amt.lecture{
    margin-right: 40px;
}

.amt.review{
    margin-right: 0;
    margin-top: 0;
}


/*---------------------------------------------admin_omr.php-----------------------------------------*/
.admin_omr .num{
    width: 30px;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    font-size: 0.9rem;
}