
  html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:top;
    background:transparent;
    font-family: Calibri, Dotum,'돋움', -apple-system,BlinkMacSystemFont,helvetica,'Apple SD Gothic Neo',sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
}

article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section {
    display:block;
}

ul{
    list-style: none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: inherit;
    text-decoration: none;
}
input, select {
    vertical-align:middle;
}

input, textarea{
    -webkit-appearance:none; 
    appearance:none;
    -webkit-border-radius:0; 
    -moz-border-radius:0; 
    -o-border-radius:0; 
    border-radius:0;
}


input[type="checkbox"]{
    -webkit-appearance: checkbox;
    cursor: pointer;
}

input[type='radio']{
    -webkit-appearance:radio;
    cursor: pointer;
}

table{
    border-collapse: collapse; 
    border-spacing: 0;
}

video::-internal-media-controls-download-button{
    display: none;
}

video::-webkit-media-controls{
    overflow: hidden;
}

video::-webkit-media-controls-enclosure{
    width: calc(100%+32px);
    margin-left:auto;
}
.wrapper{
    display: table;
    width: 100%;
    height: 100%;
}
.inner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.inner .logo {
    width: 400px;
}

.id_box {
    width: 400px;
    padding: 5px 5px;
    margin-top: 5px;
    border: 1px solid #9bbb59;
    border-radius: 4px;
    box-sizing: border-box;
}

.login_button {
    width: 400px;
    height: 45px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #7bb442;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    font-size: 1.1rem;
    font-weight: bold;
    font-stretch: ultra-expanded;
}

.login_button:hover{
    background-color: #3a913f; ;
    
}

.space{
    height: 10vh;
}
#wrap {
    overflow: hidden;
    min-width: 1190px;
}
#header {
    position: relative;
    height: 60px;
    border-bottom: 1px solid #9bbb59;
    vertical-align: top;
    margin-bottom: 25px;
    
}

.header_group{
    position: relative;
    width: 1160px;
    height: 100%;
    margin: 0 auto;
    padding: 0 5px; /*결국 헤더 내용 넓이는 1180px */

}
.header_nav{
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 70px;
}

.list_nav{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -.1px;
    color: #a2be8f;
}

.nav_item{
    float: left;
}

.nav_item:hover {
    color: #3a913f;
}

.list_nav .nav_item+.nav_item {
    margin-left: 45px;
}

.logout{
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -12px;
    cursor: pointer;
    opacity: 0.5;
}

.logout:hover{
    opacity: 1;
}