/*!
 * Common CSS files
 */
* {
	margin: 0px;
	padding: 0px;
}
body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	color: #2b2b2b;
}
.imgResponsive {
	width: 100%;
}
a {
	outline: none;
}
a:hover {
	text-decoration: none;
}
.clearfix {
	clear: both;
}
.middleContentOuter {
	display: flex;
	align-items: center;
	height: 100%;
}
.verticalMiddle {
	width: 100%;
}
.contentContainer {
	padding: 116px 0 116px 0;
}
.flexCol {
	display: flex;
}
/*----------------------------- Color & Backgrounds ------------------------------------------*/
.greyBg {
	background: #efefef;
}
.text-green {
	color: #309940 !important;
}
.background01 {
	background: url(../images/background-01.jpeg) no-repeat right top;
	background-size: cover;
}
.background02 {
	background: url(../images/background-02.jpeg) no-repeat right top;
	background-size: cover;
}
.centerLineArrow {
	width: 2px;
	margin: 0px auto;
}
.centerLineArrow:after {
	content: "";
	display: block;
	width: 2px;
	background: #d6dae5;
	height: 35px;
	margin: 0px auto 0px auto;
	position: absolute;
}
/*----------------------------- Heading & Buttons ------------------------------------------*/
h1 {
	font-size: 69px;
	line-height: 72px;
	font-weight: 900;
	padding-bottom: 10px;
}
h2 {
	font-size: 38px;
	line-height: 51px;
	font-weight: 400;
	padding-bottom: 0px;
	color: #000000;
}
h3 {
	font-size: 28px;
	font-weight: 400;
	line-height: 41px;
}
h4 {
	font-size: 26px;
	font-weight: 600;
	line-height: 45px;
	color: #000000;
}
.line:after {
	content: "";
	display: block;
	padding-top: 24px;
	border-bottom: 5px solid #c2c2c2;
	max-width: 65px;
}
.lineCenter:after {
	margin: 0 auto;
}
.noLine:after {
	display: none;
}
h5 {
	font-size: 22px;
	font-weight: 700;
}
p {
	font-size: 18px;
	line-height: 32px;
}
.padding150LR {
	padding-left: 180px;
	padding-right: 180px;
}
.shadowBox {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 28px 0px rgba(0,0,0,0.1);
	background: #ffffff;
}
.customButton01 {
	font-size: 16px;
	color: #309940;
	padding: 19px 42px 19px 42px;
	text-align: center;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	display: inline-block;
	margin: 13px 0 20px 0;
	text-transform: uppercase;
	border: 2px solid #309940;
}
.customButton01:hover, .getStartedButton:hover, .input-row input.custom-btn1:hover {
	color: #ffffff;
	background-color: #1c1b17;
	border: 2px solid #1c1b17;
}
.highLightButton {
	padding: 12px 52px 16px 52px;
	text-align: center;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	display: inline-block;
	color: #ffffff;
	font-size: 25px;
	background: #309940;
	margin: 11px 0 49px 0;
}
/*----------------------------- Header ------------------------------------------*/
header {
	padding: 0px 0;
	position: relative;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
}
.navbar {
	padding: 0px 15px;
}
.navbar-brand {
	margin: 6px 0px 6px 0;
}
li.nav-item.active .nav-link {
	color: #309940;
	border-bottom: 2px solid #309940;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
	border-bottom: 2px solid #309940;
}
.navbar-expand-lg .navbar-nav .nav-link {
	font-size: 16px;
	line-height: normal;
	color: #2b2b2b;
	padding: 0px 0px 30px 0px;
	margin: 34px 20px 0px 20px;
	text-transform: uppercase;
	border-bottom: 2px solid #ffffff;
}
.navbar-nav li .nav-link.navButton, .formButton {
	font-size: 16px;
	background: #309940;
	padding: 8px 10px 10px 10px;
	color: #ffffff;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	text-transform: uppercase;
	/*margin: 24px 0px 0px 10px !important;*/
	min-width: 133px;
	text-align: center;
	border: 2px solid #309940;
}
.navbar-nav li .nav-link.navButton.transparentButton, .formButton.transparentformButton {
	background: none;
	color: #309940;
}
.navbar-nav li .nav-link.navButton:hover,.formButton:hover {
	color: #ffffff;
	background-color: #1c1b17;
	border: 2px solid #1c1b17;
}
.navbar-nav .dropdown-menu {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #ffffff;
	min-width: 10rem;
	padding: 10px 0;
	margin: 5px 0 0;
	border: 0px;
}
.dropdown-item {
	padding: 12px 1rem;
	color: #3e4555;
}
.dropdown-item:hover, .dropdown-item:focus {
	color: #ffffff;
	text-decoration: none;
	background-color: #487627;
}
/*----------------------------- Banner ------------------------------------------*/
.banner {
	padding-bottom: 100px;
	border-bottom: 8px solid #309940;
	background: url(../images/banner-image.jpeg) no-repeat right top;
	background-size: cover;
}
.bannerContent {
	padding: 168px 0 20px 0;
}
.bannerContent .smallHeading {
	text-transform: uppercase;
	padding-bottom: 6px;
	font-size: 40px;
}
.bannerContent p {
	font-size: 19px;
	line-height: 32px;
	margin-right: 100px;
}
.innerBanner {
	background: url(../images/inner-banner.jpeg) no-repeat right top;
	background-size: cover;
	padding: 90px 0 66px 0;
	text-align:center;
	border-bottom: 8px solid #309940;
}
.innerBanner h1 {
	font-size:42px;
	line-height:50px;
}
/*----------------------------- Footer Css ------------------------------------------*/
footer {
	padding: 48px 0 48px 0;
	background: #151515;
	color: #a7a7a7;
	text-align: center;
}
footer p {
	font-size: 15px;
	margin: 0px;
	padding: 0 0 6px 0;
	line-height: 20px;
}
.footerMenu ul {
	margin: 5px 0px 15px 0px;
	display: inline-block;
}
footer ul li {
	list-style-type: none;
	font-size: 16px;
	padding: 0 9px 0 0;
	color: #ffffff;
	display: inline-block;
}
.footerMenu i {
	color: #309940;
	padding: 0 9px 0 0;
}
footer ul li a {
	color: #ffffff;
}
footer ul li a:hover {
	color: #309940;
}
footer ul li span {
	line-height: 14px;
	font-size: 13px;
	padding-left: 9px;
}
.addressInfo {
	border-top: 1px solid #2d2d2d;
	border-bottom: 1px solid #2d2d2d;
	padding: 23px 0 29px 0;
	margin: 17px 0 8px 0;
}
.copyRight {
	padding: 23px 0 10px 0;
	font-size: 15px;
	color: #606060;
}
/*----------------------------- Homepage Css ------------------------------------------*/
.ourServices {
	overflow: hidden;
	margin: 20px 0 0 0;
}
.ourServices .info {
	border-top: 5px solid #309940;
	padding: 32px 60px;
	margin-top: 2px;
}
.ourServices .info h3 {
	font-weight: 700;
}
.iconBlocks {
	padding: 28px 26px 30px 26px;
	margin: 30px 0 0 0;
	display: block;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #d0d0d0;
}
.stepInfo {
	padding: 18px 0 0 20px;
}
.stepNumber {
	font-size: 61px;
	color: #000000;
	font-weight: 900;
	line-height: 46px;
	padding-bottom: 10px;
}
#questionSlider .questions {
	padding: 28px 25px 50px 25px;
	min-height: 196px;
	position: relative;
}
#questionSlider h4 {
	font-size: 26px;
	line-height: 40px;
	font-weight: 400;
	max-width: 580px;
	margin: 0px auto;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translate(0%, -50%);
}
#testimonialSlider .testimonial  {
	min-height: 260px;
	position: relative;
	padding: 28px 25px 50px 25px;
}
#testimonialSlider p {
	max-width: 580px;
	margin: 0px auto;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translate(0%, -50%);
}
.clientName {
	display:block;
	color: #309940;
}
.carousel-control-prev, .carousel-control-next {
	opacity: 1;
	width: 13%;
	z-index:9;
}
.smallOuterBox {
	max-width: 720px;
}
.galleryThumb img {
	border: 1px solid #cecece;
}
.gallerySlider {
	margin-top: 20px;
	padding: 30px;
}
.ctaSection {
	background: url(../images/cta-bg.jpeg) no-repeat right top;
	background-size: cover;
	padding: 130px 70px 0 70px;
	min-height: 368px;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}
.ctaInfo {
	font-size: 38px;
	color: #ffffff;
	max-width: 470px;
	line-height: 49px;
}
.getStartedButton {
	padding: 19px 40px 20px 40px;
	text-align: center;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	display: inline-block;
	color: #ffffff;
	font-size: 16px;
	border: 2px solid #ffffff;
	text-transform: uppercase;
	position: absolute;
	top: 50%;
	right: 29px;
	transform: translate(0%, -50%);
}
/*----------------------------- Form Sections ------------------------------------------*/
.loginBlock {
	padding:50px;
}
.input-row {
    position: relative;
}
.contactForm {
	padding-top:20px;
}
.input-row input, .contactForm input, .contactForm textarea  {
    width: 100%;
    padding: 17px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: #fff;
    font-size: 17px;
    font-weight: 300;
    color: #8d8d8d;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    box-sizing: border-box;
    -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
	margin-bottom:20px;
	font-family: 'Lato', sans-serif;
}
.contactForm textarea {
    height: 160px;
    padding-top: 15px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
	resize:none;
}
.contactForm input.submitButton,.general-btn {
    height: auto;
    width: auto;
	border:2px solid #309940;
    line-height: normal;
    text-transform: uppercase;
    padding: 16px 43px 17px 43px;
    display: inline-block;
    color: #2b9a3e;
    box-shadow: none;
}
.contactForm input.submitButton:hover,.general-btn:hover {
	color:#ffffff;
	border:2px solid #000000;
	background: #000000;
}
.input-row input.custom-btn1 {
    color: #fff;
    transition: .2s ease-in;
	padding: 15px 25px;
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(0,0,0,.1);
	text-align:center;
	background:#309940;
	border:2px solid #309940;
}
.custom-control-label {
    line-height: 24px;
}
.redirectLinks p {
	font-size:15px;
	text-align:center;
	margin:5px 0 0 0px;
}
.redirectLinks p a {
	font-weight:600;
	color:#487627;
}
.regLeftSide {
    text-align: center;
    max-width: 410px;
    margin: 0px auto;
}
.carousel-indicators {
	bottom:-80px;
}
.contactInfo {
	margin-bottom:40px;
}
address {
    font-size: 18px;
    line-height: 32px;
    margin: 35px 0 0 0;
    align-items: center;
}
.contactInfoIcon {
    float: left;
    margin-right: 30px;
	font-size:20px;
	color:#309940;
	padding-top:2px;
}
.contactInfoContent {
    float: left;
	width:80%;
}
.courseThumb {
	margin-bottom:25px;
}
/*----------------------------- Responsive ------------------------------------------*/
@media (max-width: 1199px) {
	.owl-prev span {
		left: -80px;
	}
	.owl-next span {
		right: -80px;
	}
	.padding150LR {
		padding-left: 50px;
		padding-right: 50px;
	}
	.bannerContent {
    	padding: 110px 0 20px 0;
	}
	.bannerContent .smallHeading {
		font-size: 35px;
	}
	h1 {
    	font-size: 57px;
    	line-height: 65px;
	}
	.bannerContent p {
		margin-right: 65px;
	}
	.iconBlocks {
		text-align:center;
	}
	.iconThumb.float-left, .float-left.stepInfo {
    	float: none !important;
	}
}
@media (max-width: 991px) {
	.navbar-brand {
		max-width: inherit;
	}
	span.navbar-toggler-icon {
		border-top: 2px solid #3e4555;
		height: 2px;
		display: block;
		width: 20px;
		margin: 4px 0px 4px 0px;
	}
	.banner {
		background: url(../images/banner-image.jpeg) no-repeat -300px top;
	}
	.bannerContent .smallHeading {
		font-size: 30px;
	}
	h1 {
    	font-size: 52px;
    	line-height: 60px;
		padding-bottom:0px;
	}
	.bannerContent p {
		margin-right: 65px;
	}
	.padding150LR {
		padding-left: 0px;
		padding-right: 0px;
	}
	.ctaSection {
		padding: 80px 70px 0 70px;
	}
	.getStartedButton {
		position:relative;
		transform:none;
		right:inherit;
		margin-top:30px;
	}
	.stepInfo {
		padding-left:0px;
	}
	.stepInfo p {
		line-height:22px;
	}
	.navbar-expand-lg .navbar-nav .nav-link {
		padding: 0px 0px 10px 0px;
		margin: 10px 15px 0px 15px;
	}
	.navbar-nav li .nav-link.navButton {
		margin: 5px 0px 10px 10px !important;
	}
	.navbar {
		padding-bottom:10px;
	}
}
@media (max-width: 767px) {
	#questionSlider h4, #testimonialSlider p {
		font-size: 20px;
		line-height: 27px;
		position:relative;
		transform:none;
		max-width: 300px;
	}
	.ctaSection {
	    padding: 80px 34px;
	}
	.gallerySlider {
    	padding: 15px;
	}
	.owl-nav {
		text-align:center;
		transform:none;
		top:inherit;
		bottom:-70px;
	}
	.owl-prev span, .owl-next span {
		position:inherit;
		left:0px;
		right:0px;
	}
	.banner {
		padding-bottom:0px;
	}
	.bannerContent {
    	padding: 70px 0 50px 0;
	}
}
@media (max-width: 530px) {
	.bannerContent .smallHeading {
		font-size: 25px;
	}
}
@media (max-width: 470px) {
	#questionSlider h4,  #testimonialSlider p {
		font-size: 19px;
		max-width: 220px;
	}
	.getStartedButton {
    	padding: 19px 15px 20px 15px;
	}
	.highLightButton {
		padding: 10px 20px 14px 20px;
		font-size: 20px;
	}
	.aboutSection h2 br {
		display:none;
	}
	.bannerContent p {
    	margin-right: 0px;
	}
}
